body
{
	background-color:tan;
}

a:link, a:visited 
{
	color:gold;
	text-decoration:none;
}

a:hover, a:active 
{
	background-color: skyblue;
	color:gold;
	font-size:150%;
}

.wordStringOne .char1
{
	color:gold;
}

.wordStringOne .char2
{
	color:skyblue;
}

.wordTwoString .char3
{
	color:gold;
}

.wordTwoString .char4
{
	color:skyblue;
}

div.Anime
{
	font-family:papyrus;
	Text-align:center;
	text-shadow:2px 3px maroon;
	width:50%;
	height:100px;
	border-style:double;
	border-color:skyblue gold;
	position: relative;
	margin:auto;
}

div.Logo 
{
	display:block;
	margin:auto;
	width:12.5%;
}

.FoxFriends
{
	float:left;
	margin-right: 16px;
	border-style:dashed;
	border-color: skyblue gold;
	
}

div.Naruto 
{
	
	font-family: Cambria;
}

div.Naruto > p::first-letter
{
	font-size:200%;
	font-family:papyrus;
	color:skyblue;
}
span.N1{
	text-decoration:none;
}

.FullMetalAlchemist
{
	display:block;
	margin:auto;
	width:14.5%;

}

.SteinsGate
{
	float:left;
	margin-right:16px;
	border-style:dashed;
	border-color:skyblue gold;
}

.NextPhase
{
	clear:left;
	font-family:papyrus;
	clear:left;
	text-align:center;
	text-shadow:2px 1px maroon;
	border-style:dotted;
	border-color: skyblue gold;
	border-radius:5px;
	width:50%;
	margin:auto;
	
	
}

div.NewAnime > p::first-letter
{
	font-size:200%;
	font-family:papyrus;
	color:gold;
}
.NewAnime
{
	width:100%;
	
}

.OrderList
{
	border-style:dashed;
	border-color:skyblue gold;
	border-radius:5px;
	margin:auto;
	width:50%;

}

.whole-body{
	width: 80%;
	border: 1px solid blue;
}

@media screen and (max-width:320px)
{
	 .whole-body .Anime .wordStringOne{float:left; display: block;}
}

@media screen and (min-width:320px) and (max-width:480px)
{
	 .whole-body .Anime .wordStringOne {float:left; display: block;}
}
	
@media screen and (min-width:480px) and (max-width:720px)
{
	.whole-body {display:inline-block;}
}

@media screen and (min-width:720px) and (max-width:1024px)
{
	.whole-body {display:inline-block;}
}

@media screen and (max-width:480px)
{
	.Logo{ 
        display: none !important;
    }
}

@media screen and (max-width:480px)
{
	.FoxFriends{
		display: none !important;
	}
}

@media screen and (max-width:480px)
{
	.FullMetalAlchemist{
		display: none !important;
	}
}

@media screen and (max-width:480px)
{
	.SteinsGate{
		display: none !important;
	}
}