@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link rel="stylesheet"  href="~/Styles/Home.css" type="text/css">
        <title>Final Project</title>
    </head>

<body>
    <div class="home">
        <h1 class="header">Welcome to Cuyahoga Community College Student Services Online</h1>
        <p id="para1">
            Cuyahoga Community College recognizes students' rights to acess personal and academic records in accordance with
            the Family Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568.
        </p>
        <div class="border1">
            <div id="accountExist">Already have an existing account with us? Returning users may log in by entering their site username and password.</div>

            <label>Username</label><input type="text" />
            <label>Password</label><input type="text" />
            <button id="login" type="submit">Log In</button>

            <div class="separator"></div>
            <div>New users, please create<br />a new account by providing<br />us with some basic information.</div>
            <div id="newUser"></div>
            <div id="newPass"></div>
            <div id="eMail"></div>
            <div id="rEmail"></div>
            <button id="createAccount" type="submit">Add</button>
        </div>
    </div>

    <footer>Cuyahoga Community College <br /> 700 Carnegie Avenue, Cleveland, Ohio 44115</footer>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
</body>

</html>